body {
  background-color: coral;
}

h1 {
  color: black;
  font-family: sans-serif;
  font-size: 75px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

h2 {
  color:aliceblue;
  font-size: 35px;
}

h3 {
  color: salmon;
  font-size: 30px;
}


.wonder {
  height: 850px;
}

p {
  color:aliceblue;
  font-size: 25px;
}

.links {
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  text-align: center;
}

a {
  transition: color 0.15s;
}

a:hover {
  color:cadetblue;
}

.link {
  color:aliceblue;
}

.active {
  color:aliceblue;
}

main {
  background-color: cadetblue;
  text-align: center;
  padding-top:75px;
  padding-bottom:75px;
  margin-top: 10px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.nature-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.nature-pic {
  height: 750px;
  width: 600px;
}

.health-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.the-animals-pic {
  width: 85%;
}

.grocery-list-pic {
  width: 85%;
}

.movie-list-pic {
  width: 85%;
}
